@CHARSET "UTF-8";



#insetBgd {
  width: 99,5%;
  text-align:center;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
	background: none repeat scroll 0 0 #C6E1EC;
    box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);

}

h1.insetType {
  font-family:Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-weight:normal;
  color: #3D7489 ;
}



.tabla{
width: 100%;
text-align:left;
font-family:Verdana, Arial, Geneva, sans-serif;
font-size:14px;
border:solid thin;
border-color:#CCCCCC;
background:#F1F1F1;
}
.titulo_tabla{
	color: #3D7489;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:left;
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);

	
}
.celda{
border-bottom: thin solid #CCCCCC;
padding-top: 5px;
padding-bottom: 5px;
font-size:12px;
padding-left: 10px;
padding-right: 10px;
}
.linea:hover{
   background: none repeat scroll 0 0 #C6E1EC;
    box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
    color: #3D7489;
}
