body{
	
}

p {
	text-indent:65px;
	text-align: justify;
	
}

ul, ol {
	margin-bottom: 10px;
	margin-left:10px;
	text-align: justify;
}

li{
	margin-bottom: 5px;
}

.nromemo{
	color: red;
	margin-left: 490px;
	font-weight: bold;
	font-family: "Times New Roman",Georgia,Serif;
	font-size: 18px;
	text-align:right;
}

.oficina{
	font-size: 10px;
	
}

hr{
	border: none;
	background-color: black;
	height: 1px;
}

.info{
	font-size:12px;
	background-color: #FFF;
}


.info .importante{
	font-weight: bold;
}

table{
	background-color: #000;
	 
}

table td{
	background-color: #FFF;
	border-style: none; 
}


