#growlcontainer{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  font-size: 1em;
  width: 240px;
}
.growlstatus{
  position: relative;
  background-color: #000; /*fallback for ie*/
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px #000 solid;
  padding: 15px;
  color: #fff;
  margin-bottom: 5px;
  
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}
.growlstatus .growltitle{
  font-weight: bold;
  margin-bottom: 5px;
}
.growlstatusclose{
  position: absolute;
  top: 5px;
  right: 5px;
  width:30px;
  height:30px;
  cursor: pointer;
  display: none;
  background: transparent url(images/growlclose.png) no-repeat;
}
.growlstatus:hover{
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px #fff solid;
}
.growlstatus:hover .growlstatusclose{
  display: block;
}
.growlwithicon{
  padding-left: 50px;
  background-position: 5px 10px;
  background-repeat:no-repeat;
}

/****** growl icons ******* 
--------------------------*/
.growlicon_heart{
  background-image: url(images/icons/heart.png);
}
.growlicon_star{
  background-image: url(images/icons/star.png);
}
.growlicon_clouds{
  background-image: url(images/icons/clouds.png);
}
.growlicon_parachute{
  background-image: url(images/icons/parachute.png);
}

.growlicon_ok{
  background-image: url(images/icons/ok.png);
}

.growlicon_error{
  background-image: url(images/icons/error.png);
}

.growlicon_alert{
  background-image: url(images/icons/alert.png);
}
