/* CSS Document */


.visible {display:block;
position:absolute;
z-index: 9999;
width: 100%;
height: 100%;
margin-left:auto;
margin-right:auto;


}
.invisible {display:none;}

html, body{ 
	height:100%;
	width:100%;
	margin:0px;
	padding:0px 
	font-family:Tahoma Verdana Arial sans-serif
	}

#mapDiv { 
	height:90%;
	width:71%;
	position:fixed;
	font-size: 12px;
	z-index:2;
	left:0;
	top:0px;
	}
	
a { 
	text-decoration:none;
	color:#333;
	}
	
.autor a{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	}

	
	
/* Control how "sided out" the tree is */
.sidebar ul  ul, .sidebar ul li { 
	 padding:0px; 
	} 

/* Format menu items differently depending on what level of the tree they are in */
.sidebar ul{
	font-size: 12px;
	padding: 0px;
	}
.sidebar ul li { /*TITULOS DE LOS POLY*/
	font-size: 12px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 35px;
	}
.sidebar ul li:hover { /*TITULOS DE LOS POLY*/
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 35px;
	background: #999;
	color:#FFF;
	
	
	/*ANIMADO*/
	
	/* Firefox */
    -moz-transition-property: all;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 0.2s;
    /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0.2s;
    /* Default */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
	font-weight:bold;
	}
.sidebar ul li ul li { /*NO SE*/

	}
.sidebar ul li ul li ul li { 
	}
.sidebar ul li ul li ul li ul li { 
	font-size: 20px;
	} 
.inView { 
	display:block;
	}
.outView { 
	color:silver; 
	opacity:0.4; 
	alpha(opacity=40)
	}


.sidebar{
	width:29%;
	position:absolute;
	right:0px;
	top:51px;
	height:auto;
	z-index:3000;
	max-height: 726px;

	opacity:0.90;
	overflow:auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
.autor{
	width:100%;
	position:absolute;
	right:1px;
	bottom: 0px;
	height:17px;
	padding-top: 3px;
	z-index:3000;
	background:#000;
	opacity:0.70;
	overflow:auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
	text-align:center;
}

.banner{
	width:100%;
	height:60px;
	background-image:url(../images/fondo.jpg);
	background-repeat:repeat-x;
}

.infowindow{
	margin-top: 8px;
	background-image:url(../images/fondo1.png);
	background-repeat:no-repeat;
	padding-top: 42px;
	padding-left: 26px; 
	height: 570px;
	width: 885px; 
	font-size:14px;
	text-align:left;
}
.informacion{
	width:96%;
	height:93%;
}
.titulo_infobox{
	font-size:20px;
}
.enlace{
	color:#06C;
	font-style:italic;
}


/*CARGADOR*/
.progress-bar {
	background-color: #1a1a1a;
	height: 25px;
	padding: 5px;
	width: 350px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 25%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	          
}

.progress-bar span {
	display: inline-block;
	height: 100%;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;    
}
.blue span {
	background-color: #34c2e3;   
}

.orange span {
	  background-color: #fecf23;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
	  background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
	  background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
	  background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
	  background-image: -o-linear-gradient(top, #fecf23, #fd9215);
	  background-image: linear-gradient(top, #fecf23, #fd9215);  
}	

.green span {
	  background-color: #a5df41;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
	  background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
	  background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
	  background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
	  background-image: -o-linear-gradient(top, #a5df41, #4ca916);
	  background-image: linear-gradient(top, #a5df41, #4ca916);  
}
.stripes span {
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;			
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);            
	
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;       		
}

@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.shine span {
	position: relative;
}

.shine span::after {
	content: '';
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;			
	
	-webkit-animation: animate-shine 2s ease-out infinite;
	-moz-animation: animate-shine 2s ease-out infinite; 			
}

@-webkit-keyframes animate-shine { 
	0% {opacity: 0; width: 0;}
	50% {opacity: .5;}
	100% {opacity: 0; width: 95%;}
}


@-moz-keyframes animate-shine {
	0% {opacity: 0; width: 0;}
	50% {opacity: .5;}
	100% {opacity: 0; width: 95%;}
}
.glow span {
	-moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
	-webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
	box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
	
	-webkit-animation: animate-glow 1s ease-out infinite;
	-moz-animation: animate-glow 1s ease-out infinite; 			
}

@-webkit-keyframes animate-glow {
 0% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
 50% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
 100% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
 }

@-moz-keyframes animate-glow {
 0% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
 50% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
 100% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
 }