@CHARSET "UTF-8";

*{
	font-family:Verdana, sans-serif;
}

img{
	border:0px;
}

body{
	background-color:#fff;
	width:900px;
	margin:0px auto;
	font-size:12px;
}

.fondo-tabla{
	background: #AAA;
	
}

.pequenho{
	font-size:10px;
}

.fondo-tabla th{
	background: #69C;
}

.fondo-tabla tr{
	background: #fff;
	padding:2px 10px;
}

.der{
	text-align: right;
}

a{	
	color: #555;
	text-decoration: none;
}


.slide-out-div {
          padding: 20px;
          width: 280px;
          background: #f1f1f1;
          border: 1px solid #29216d;
		  font-size=1em;
		  
      }
      
.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
      
/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../js/jquery/js/overlay/apple.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:500px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
      
    color:white;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(../js/jquery/js/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.odd{
		background-color:#ddd;
	}
.dataTables_filter input{
	border:none;
	
}
      